*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --color-primary: hsl(225, 100%, 94%);
  --color-primary-one: hsl(245, 75%, 52%);
  --color-neutral-one: hsl(225, 100%, 98%);
  --color-neutral-two: hsl(224, 23%, 55%);
  --color-neutral-three: hsl(223, 47%, 23%);
}

body {
  display: grid;
  width: 100vw;
  place-items: center;
  background-color: var(--color-primary);
  font-family: "Red Hat Display", sans-serif;
  min-height: 100vh;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.section {
  max-width: 375px;
  width: 350px;
  background-color: var(--color-neutral-one);
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}

.order img {
  width: 50px;
}

.order {
  padding: 2.5rem;
}

.order > p {
  padding: 2rem 1.8rem;
}

.order--section {
  display: flex;
  background-color: #eef0f8;
  padding: 1rem;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
}
.order--cost {
  flex: 1 0 auto;
}

.order--cost h3 {
  font-size: 1.5rem;
}

.order h1 {
  font-size: 2rem;
}

.order p {
  font-size: 1.6rem;
  color: var(--color-neutral-two);
  line-height: 1.6;
}

.cancel--order {
  display: block;
  padding-top: 3rem;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 700;
  color: var(--color-neutral-three);
}

button {
  margin-top: 2.5rem;
  display: block;
  width: 100%;
  padding: 1.6rem 6rem;
  border-radius: 10px;
  background: var(--color-primary-one);
  color: var(--color-neutral-one);
  font-weight: 700;
  font-size: 1.5rem;
  border: 0;
  box-shadow: 0 10px 10px 5px #dedbfb;
}

.order--section a {
  display: inline-block;
  font-size: 1.3rem;
  /* padding-top: 1rem; */
  font-weight: 500;
  color: var(--color-primary-one);
}

@media (min-width: 375px) {
  body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
